.navbar {
    display: flex;
    justify-content: space-between;
    margin: 10px 60px 10px 60px;
}

.logo-text{
    height: 20px;
    width: 20px;

}
nav ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 10px;
    font-size: small;
    font-family: sans-serif;
    padding: 10px;
}

nav li a {
    text-decoration: none;
    color: black;
}

.btn-early-access{
    background-color: mediumseagreen;
    border-radius: 5px;
    border: none;
    text-align: center;
    display: inline-block;
    text-align: center;
    font-size: x-small;
    padding: 10px 15px;
}
/* this is my navigation bar css */

.hero-content{
    background-image: url(./B13-A01-Knowledge-Vault/assets/hero-bg.png);
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    justify-content: center;
    text-align: center;padding: 0 20px;
    
}

.badge{
    background: whitesmoke;
    border-radius: 20px;
    border: 1px;
    margin-bottom: 20px;
    border: 1px;
    padding: 5px, 15px;

}