.navbar {
    display: flex;
    justify-content: space-between;
    margin: 10px 60px 10px 60px;
}

.logo-text{
    height: 20px;
    width: 20px;

}
nav ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 10px;
    font-size: small;
    font-family: sans-serif;
    padding: 10px;
}

nav li a {
    text-decoration: none;
    color: black;
}

.btn-early-access{
    background-color: mediumseagreen;
    border-radius: 5px;
    border: none;
    text-align: center;
    display: inline-block;
    text-align: center;
    font-size: x-small;
    padding: 10px 15px;
}
/* this is my navigation bar css */

.hero-content{
    background-image: url(./B13-A01-Knowledge-Vault/assets/hero-bg.png);
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    justify-content: center;
    text-align: center;
   
    
}

.badge {
    background: whitesmoke;
    border-radius: 20px;
    border: 1px;
    margin-bottom: 20px;
    border: 1px;
    padding: 5px, 15px;
    display: block;

}

h1 {
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 15px;
    color: aliceblue;
    font-family:  sans-serif;

}
.highlight {
    color: green;
}

 p {
    
    color: azure;
    margin-bottom: 35px;
    font-size: 1rem;
    line-height: 1.7;
    


}



.button-green {
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: 200;
    padding: 15px 15px;
    font-size: 12px;
    

}

.button-white {
    background-color: transparent;
    color: white;
    border: none;
    padding: 15px 15px ;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 10px;

}
/* hero image css ended */



.note-p {
    color: #000;
}

.note-h {
    color: #000;
    font-size: 45px;
}

.notes {
    display: inline-block;
    text-align: center;
    margin-left: 380px;
}
 /* card section started */

 .card {
    width: 200px;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px ;
    align-items: center;
    text-align: center;
    
    
 }

 .card-p {
    color: slategrey;
    font-size: 14;
    font-family: serif;
    font-weight: 500;
 }

.card-img{
    background-color: red;
    
    
}

.card-container{
    display: flex;
    gap: 20px;
    
    margin-bottom: 20px;
    justify-content: center;
    
}

.body{
    margin: 0 auto;
}

.card-section{
    align-items: center;
}